<div *ngIf="formUsuario; else loading">
  <form [formGroup]="formUsuario" (ngSubmit)="guardar()">

    <div>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>

    <div>
      <label for="apellidos">Apellidos</label>
      <input type="text" id="apellidos" formControlName="apellidos">
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>

    <button type="submit">Guardar</button>

  </form>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>